@import "./variables.scss";

.backgroundContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // border: blueviolet 2px solid;
  margin: 2rem;
  padding: 1rem;
}

.background {
  // border: 2px solid lime;
  margin-bottom: 3rem;
  & h1 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    padding: 0 2px 2px 10px;
    border-bottom: solid 3px $dpink;
    // margin-bottom: 0.1rem;
  }
}

.navBarBackground {
  // border: red 2px solid;
  // background: $dpink;
  // padding: 1rem 0;
  margin-bottom: 2rem;
  // border-radius: 1rem;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    & li {
      & .module-border-wrap {
        max-width: 250px;
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, $mainColor, $secondaryColor);
        padding: 5px;
        border-radius: 1rem;

        & .module {
          color: #222;
          background: $background;
          padding: 2rem;
          border-radius: inherit; /* !importanté */
        }
      }

      border: 3px solid $dpink;
      // background: $white;
      padding: 5px;
      margin: 1px 0;
      border-radius: 1rem;
      text-align: center;
      width: 20rem;

      & i {
        font-size: 2.2rem;
      }
      & h3 {
        font-size: 1.4rem;
        user-select: none;
      }

      &:hover {
        // border: 3px solid $white;
        background-color: $dpink;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

.activeButton {
  background-color: $dpink;
  color: $white;
  cursor: pointer;
}

//div Title Container
.dataTitle {
  // border: solid 2px red;
  border-bottom: solid 2px $dpink;
  & h3 {
    font-size: 2rem;
    padding: 0 1rem 0.5rem 1rem;
  }
}

//div Container
.generalData {
  // border: solid 2px blue;
  margin-top: 10px;
  // max-width: 120rem;
  width: 70vw;
  // margin: 10px 0 0 17px;

  & ul {
    list-style: none;
  }
}
