@import "./variables.scss";

.navBarBackground {
  // border: red 2px solid;
  margin-bottom: 2rem;
  // border-radius: 1rem;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    & li {
      border: 3px solid $dpink;
      padding: 5px;
      margin: 1px 0;
      border-radius: 1rem;
      text-align: center;
      width: 20rem;

      & i {
        font-size: 2.2rem;
      }
      & h3 {
        font-size: 1.4rem;
        user-select: none;
      }

      &:hover {
        // border: 3px solid $white;
        background-color: $dpink;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

.activeButton {
  background-color: $dpink;
  color: $white;
  cursor: pointer;
}

//div Title Container
.dataTitle {
  // border: solid 2px red;
  border-bottom: solid 2px $dpink;
  & h3 {
    font-size: 2rem;
    padding: 0 1rem 0.5rem 1rem;
    margin-top: 2rem;
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

//Mobile
@media only screen and (max-width: 768px) {
  .navBarBackground {
    // border: red 2px solid;
    // margin-bottom: 2rem;

    & ul {
      & li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        width: 8rem;
        height: 6.8rem;

        & h3 {
          font-size: 1.2rem;
        }

        & i {
          font-size: 2rem;
        }
      }
    }
  }
}
