@import "./variables.scss";

//div Container
.generalData {
  // border: solid 2px blue;
  margin-top: 10px;
  // max-width: 120rem;
  width: 70vw;
  // margin: 10px 0 0 17px;

  & ul {
    list-style: none;
  }
}

//List ul of cards li (can be a div element)
.cardItem {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  padding: 2rem;
  margin: 2rem 0;
  // padding-bottom: 20px;
  border-radius: 1rem;
  box-shadow: 0px 0px 23px 0px rgba(65, 47, 47, 0.4);
  & i {
    color: $dpink;

    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  & div {
    width: 100%;
    & .title {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 2.5rem;
      cursor: default;

      & .titleDetails {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-style: italic;
        font-size: 1.4rem;
        margin-top: 0.5rem;

        & > div,
        a {
          width: auto;
          display: flex;
          align-items: center;
          font-style: italic;
          font-weight: 400;
          font-size: 1.4rem;
          margin-right: 4rem;
          text-decoration: none;
          color: $fontDark;
          cursor: default;

          & i {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
        & > a {
          cursor: pointer;
          &:hover p {
            text-decoration: underline;
          }
        }
      }
    }

    & .details {
      display: block;
      width: 100%;
      font-size: 1.8rem;
      text-align: justify;
      padding-bottom: 2rem;
      cursor: default;
    }

    & .skillsTagContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    & .skillsTagContainer .skillTag,
    .skillTag {
      display: inline;
      font-size: 1.8rem;
      border: solid $dpink 2px;
      color: $dpink;
      border-radius: 5px;
      margin: 2px 2px;
      padding: 2px;
      width: fit-content;
      cursor: default;
    }
  }

  & .logo {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    min-width: 8rem;
    height: 12rem;
    margin-left: 3rem;
    & img {
      width: 100%;
    }
  }

  & .imgProject {
    height: 30rem;
    box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: inherit;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
  //div Container
  .generalData {
    width: 95vw;

    & ul {
      list-style: none;
    }
  }
}

//Mobile
@media only screen and (max-width: 768px) {
}
