@import "./variables.scss";

.listContainer {
  // border: red 2px solid;

  & ul {
    list-style: none;

    & li {
      display: flex;
      flex-direction: row;
      align-items: center;

      & h2 {
        margin-right: 1.5rem;
        width: 20rem;
        text-decoration: underline;
        padding-left: 2rem;
      }

      & a {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.8rem;
        text-decoration: none;
        color: $fontDark;
        & i {
          font-size: 2.3rem;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
      }
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

//Mobile
@media only screen and (max-width: 768px) {
  .listContainer {
    padding-left: 1rem;

    & ul {
      & li {
        & h2 {
          margin-right: 0;
          width: 8rem;
          padding-left: 0;
        }

        & a {
          font-size: 1.6rem;
          & i {
            width: 40px;
          }
        }
      }
    }
  }
}
