@import "./variables.scss";

//Usando Flexbox
.mainContainer {
  display: flex;
  width: 100vw;
}
.sidebarContent {
  height: 100vh;
  width: 78px;
}

.homeContent {
  width: calc(100vw - 78px);
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
}

.mainTitle {
  margin-bottom: 3rem;
  & h1 {
    font-size: 2.4rem;
    line-height: 3.5rem;
    padding: 0 2px 2px 10px;
    border-bottom: solid 3px $dpink;
  }

  & p {
    font-size: medium;
  }
}

//Usando grid
// .mainContainer {
//   display: grid;
//   grid-template-columns: 78px auto;
//   width: 100vw;
//   transition: all 0.7s ease;
// }
// .sidebarContent {
//   position: fixed;
//   background: $dpink;
//   height: 200vh;
//   grid-column-start: 1;
//   grid-column-end: 2;
//   transition: all 0.5s ease;
// }

// .homeContent {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   transition: all 0.5s ease;
// }

.presentationContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  // transition: all 0.5s ease;

  & img {
    width: 27rem;
    height: 27rem;
    border-radius: 10rem;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.6);
  }

  & .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.1rem;
    line-height: 3.5rem;

    & .redes {
      display: flex;
      width: 15rem;
      justify-content: space-around;
      & a i {
        color: $brown;
        font-size: 3.5rem;
        margin-top: 50px;
      }
    }
  }
}

.dataContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // border: 2px pink solid;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: 1.87rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85rem;
  min-width: 65rem;
  padding: 4rem;
  margin: 4rem;
  background: $dviolet;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: $white;
  line-height: 2.3rem;
  & h3 {
    text-align: center;
    margin-bottom: 3rem;
    width: 80%;
    border-bottom: $white solid 2px;
  }
  & p {
    text-align: justify;
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

//Mobile
@media only screen and (max-width: 768px) {
  .presentationContainer {
    flex-direction: column;
    justify-content: center;

    & .profile {
      font-size: 1.9rem;

      & .redes {
        & a i {
          margin-top: 4rem;
        }
      }
    }

    & img {
      margin-top: 8rem;
    }
  }
}
