@import "./variables.scss";

$iconSize: 11rem;

.skillsIcons {
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  border-radius: 1.5rem;

  & .icon_logo {
    display: flex;
    // border: red solid 2px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    transition: all ease 0.5s;

    &:hover {
      transform: scale(1.2);
    }

    & img {
      background: $crema;
      padding: 1rem;
      border-radius: 2rem;
      width: $iconSize;
      height: $iconSize;
      object-fit: contain;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
  $iconSize: 8.5rem;
  .skillsIcons {
    padding: 0;
    margin-top: 2rem;

    & .icon_logo {
      & img {
        width: $iconSize;
        height: $iconSize;
      }
    }
  }
}

//Mobile
@media only screen and (max-width: 768px) {
  $iconSize: 7rem;
  .skillsIcons {
    padding: 0;
    margin-top: 0.5rem;

    & .icon_logo {
      margin: 0.75rem;
      & img {
        width: $iconSize;
        height: $iconSize;
      }
    }
  }
}
