@import "./variables.scss";

.navSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all ease 1s;

  & h3 {
    padding: 5px 1rem;
    font-size: small;
    border-bottom: solid transparent;
    &:hover {
      border-bottom: solid $pink 3.1px;
    }
    &.activeTitle {
      border-bottom: solid $pink 3.1px;
      color: $dpink;
    }
  }
}

//Tablet
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navSkills {
    height: fit-content;
    margin: 10rem 0 3rem 0;

    & h3 {
      padding: 6px 1rem;
    }
  }
}

//Mobile
@media only screen and (max-width: 768px) {
  .navSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    cursor: pointer;
    margin: 2rem 0 0rem 0;
    transition: all ease 1s;

    & h3 {
      padding: 6px 1rem;
    }
  }
}
