@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
// @import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// $font: "Zen Old Mincho", serif;
$font: "Lato", sans-serif;
$fontDark: #473b2a;
$fontLigth: #f0efeb;

$background: #f0efeb;
$mainColor: #7400b8ff;
$secondaryColor: #80ffdbff;

$purple: #7400b8ff;
$french-violet: #6930c3ff;
$slate-blue: #5e60ceff;
$tufts-blue: #5390d9ff;
$blue-jeans: #4ea8deff;
$vivid-sky-blue: #48bfe3ff;
$sky-blue-crayola: #56cfe1ff;
$medium-turquoise: #64dfdfff;
$turquoise: #72efddff;
$aquamarine: #80ffdbff;

$white: #fff;
$crema: #f0efeb;
$lbrown: #9c958b;
$brown: #473b2a;
$lpink: #d3b9bc;
$pink: #b5838d;
$dpink: #9f7884;
// $crema: #4361ee;
// $dpink: #b5179e;
$violet: #886d7a;
$dviolet: #5a5766;

// Other colors
$green1: #006466ff;
$green2: #065a60ff;
$green3: #0b525bff;
$green4: #144552ff;
$green5: #1b3a4bff;
$blue: #212f45ff;
$violet4: #272640ff;
$violet3: #312244ff;
$violet2: #3e1f47ff;
$violet1: #4d194dff;
